/*公用的顶部样式*/
.top{
    min-width: 1140px;
    height:62px;
    margin:auto;
    background-color: #00427A;
}
.topCenter{
    width:1140px;
    height:62px;
    line-height:62px;
    margin:auto;
}
.topTime{
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:15px;
    text-align:center;
    margin-top:16px;
    float:left;
}

.topRight{
    width:auto;
    height:30px;
    line-height:30px;
    float:right;
    margin-top:16px;
}
.topNav li{
    padding:0 10px;
    float:left;
}
.topNav span{
    color: white;
    float: left;
}
.topNav li a{
    color:#fff;
    transition:all 0.5s;
}
.topNav li a:hover{
    color:#d81c2b;
}
.topNav input{
    padding: 5px;
    margin-right: 2px;
    border: none;
    outline: none;
}
.btn{
    color: white;
    background-color: #3472af;
    cursor: pointer;
}
/*logo区*/
.logo{
    width:1140px;
    margin:auto;
    height:80px;
    padding:10px 0;
}
.logoLeft{
    width:528px;
    height:80px;
    float:left;
}
.logoLeft img{
    width:520px;
    height:80px;
}
.logoRight{
    width:210px;
    height:80px;
    float:right;
}
.logoRight img{
    width:210px;
    height:80px;
}
/*导航区*/
.nav{
    min-width: 1140px;
    height:60px;
    background:#00427a;
}
.navCenter{
    width:1140px;
    height:60px;
    margin:auto;
}
.navCenter li{
    height:60px;
    width: 10%;
    text-align: center;
    line-height:60px;
    float:left;
    position:relative;
}
.navCenter li a{
    color:#fff;
}
.navCenter li:hover{
    background:#b81724;
}
.nav_second{
    position:absolute;
    top:60px;
    left:0;
    background:#b81724;
    z-index:99;
    display:none;
}
.navCenter li:hover .nav_second{
    display:block;
}
.nav_second dd{
    height:40px;
    line-height:40px;
    padding:0 30px;
}
.nav_second dd a{
    display:block;
    width:auto;
    white-space:nowrap;
}
.nav_second dd:hover{
    background:#a10b17;
}

/*底部连接*/
.fastLink{
    min-width: 1140px;
    height:80px;
    padding:30px 0;
    background:#f7f7f7;
}
.fastLinkContent{
    width:1140px;
    height:80px;
    margin:auto;
}
.fastLinkContent li{
    width:269px;
    height:80px;
    float:left;
    margin:0 8px;
    position:relative;
    text-align:center;
    line-height:80px;
}
.fastLinkContent li a{
    color:#fff;
    width:270px;
    height:80px;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
}
.fastLinkContent li img{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:270px;
    height:80px;
}
.fastLinkContent .fal_int{
    background:rgba(184,23,36,0.8);
    width:270px;
    height:80px;
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    transition:all .2s;
}
.fastLinkContent li:hover .fal_int{
    background:rgba(0,66,122,0.8);
    width: 270px;
}
/*底部*/
.footer{
    min-width: 1140px;
    height:110px;
    padding:30px 0;
    background:#00427a;
}
.footerContent{
    width:1140px;
    margin:auto;
    height:110px;
}
.footerLink{
    width:365px;
    height:110px;
    float:left;
    color:white;
    padding-top:10px;
}
.footerLink a{
    color: white;
    width: 150px;
}
.footerLink li{
    display: inline-block;
    width: 115px;
}
.footerLeft{
    width:400px;
    height:100px;
    float:left;
}
.footerLeft img{
    width:400px;
    height:100px;
}
.footerRight{
    float:right;
    text-align:left;
    color:#fff; margin-right: 15px;
    padding-top: 15px}

.footerRight p{
    color:#fff;
    font-size:14px;
}

/* 底部颜色 */
.bg1{
    background-color: #45b0e3 !important;
}
.bg2{
    background-color: #ff4057 !important;
}
.bg3{
    background-color: #ff7827 !important;
}
.bg4{
    background-color: #099a97 !important;
}