.main{
	width: 75%;
	height: auto;
	overflow: hidden;
	margin: 20px auto;
}
.mainLeft{
	width: 18%;
	height: 100%;
	float: left;
}
.subNav{
	width: 100%;
	height: auto;
	background-color: #760000;
}
.subNavTitle{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-indent: 1em;
	font-weight: bold;
	color: white;
	font-size: 18px;
}
.subNavList{
	width: 95%;
	margin-left: 5%;
	text-indent: 1em;
	height: auto;
	background-color: white;
}
.subNavItem{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #760000;
}
.subNavItem a{
	text-decoration: none;
	color: black;
}
.mainRight{
	width: 76%;
	height: auto;
	float: right;
	min-height: 400px;
}
.mainRightNav{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: gray;
	font-size: 12px;
	border-bottom: solid 2px #8B2727;
}
.mainRightTitle{
	width: 100%;
	height: 120px;
	line-height: 120px;
	font-size: 24px;
	text-align: center;
	color: #760000;
}
.mainRightText{
	width: 100%;
	height: auto;
}
