.listlist {
    width:1200px;
    margin:20px auto;
    text-align:center;
    padding:10px 0 20px 0;
    background:#fff;
}
.listlist:after{
    display: block;
    content: " ";
    clear: both;
}
.list-l {
    width:291px;
    float:left;
    text-align:left;
    overflow: hidden;
    margin-right:30px;
}
.list-l h3 {
    /*background:url(../img/titleimg.png) no-repeat;*/
    height:45px;
    line-height:45px;
    color:#111;
    font-size:24px;
    font-family:"Microsoft Yahei";
    font-weight:100;
    text-align:left;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #111;
}
.list-l h3:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: #1e9127;
    display: block;
    bottom: -2px;
}
.list-l .listuls {
    margin-top:33px;
    background:#f2f2f2;
    min-height:659px;
    box-sizing: border-box;
}
.list-l .listuls .listlis {
    line-height:50px;
    font-size:18px;
    text-align:center;
}
.list-l .listuls .listlisnone{
    border-bottom: 1px solid #cecbcb;
}
.list-l .listuls .listlis a.lis {
    position: relative;
    background: url("./../img/jiantou.png") no-repeat;
    background-position: 85% 50%;
    display:block;
    color:#333;
    width:100%;
    height:70px;
    line-height:70px;
    box-sizing: border-box;
    padding: 0px 20px;
    text-align:left;
    padding-left:32px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cecbcb;
    transition: all 0.3s;
}
.list-l .listuls .listlis a.lisnone{
    border: none;
}
.list-l .listuls .listlis a:hover {
    background-color:#e7decd;
}
.list-l .listuls .listlis a.now{
    background-color:#e7decd;
}
.list-l .listuls .listlis .momli .momlis .moma{
    position: relative;
    background: url("./../img/jiantou.png") no-repeat;
    background-position: 85% 50%;
    display:block;
    color:#333;
    width:100%;
    height:50px;
    line-height:50px;
    box-sizing: border-box;
    padding: 0px 20px;
    text-align:left;
    padding-left:60px;
    background-color: #f4f4f4;
    /*border-bottom: 1px solid #cecbcb;*/
    transition: all 0.3s;
}
.list-l .listuls .listlis .momli .momlis .moma:hover{
    background-color:#e7decd;
}
.list-r {
    width:874px;
    float:left;
    min-height:739px;
}
.list-text {
    background:#f2f2f2;
    width:824px;
    margin:0 auto;
    text-align:left;
    height:50px;
    line-height:50px;
    color:#5a5a5a;
    padding-left:25px;
    padding-right:25px;
    font-size:14px;
}
.list-text a {
    color:#313131;
}
.list-text h3 {
    float:left;
    color:#00588a;
    font-size:20px;
    font-weight:100;
}
.list-text span {
    float:right;
    font-size:14px;
    color:#313131;
}
.list-wen {
    width:872px;
    min-height:700px;
    font-size:14px;
    text-align:left;

    border:#ebebeb solid 1px;
    margin-top:0;
    overflow:hidden;
}
.list-wen ul {
    margin:20px 20px 0 30px;
}
.list-wen >ul li {
    background:url(../img/dian.gif) no-repeat left;
    border-bottom:#eaeaea solid 1px;
    padding:0 0 0 10px;
    line-height:36px;
}
.list-wen >ul li a{
    padding-left: 10px;
    color: #111;
}
.list-wen >ul li a:hover{
    color: #00588a;
}
.list-wen li .datetime {
    float:right;
    color:#A7A7A7;
}
